/*Define el tamaño base de la fuente en 16px para toda la página*/
html {
    font-size: 16px;
}

/*Media query para dispositivos con pantallas menores a 400px. Reduce el tamaño de la fuente a 9.41px*/
@media screen and (max-width: 400px) {
    html {
        font-size: 9.41176px;
    }
}

/*Asegura que los elementos html y body ocupen el 100% de la altura del viewport*/
html, body {
    height: 100%;
}

/*Estilo para el cuerpo de la página: fondo negro, tipo de letra 'Afacad+Flux', tamaño de letra relativo a la base*/
body {
    background: #050505;
    font-family: 'Afacad+Flux';
    font-size: 1.7rem; /*Multiplica el tamaño base de la fuente (16px) por 1.7*/
    font-style: normal;
    font-weight: normal; /*Peso normal para el texto*/
    line-height: 1.882; /*Altura de línea más amplia*/
    color: rgb(211, 211, 89); /* Texto de color amarillo claro*/
    margin: 0; /*Elimina márgenes por defecto*/
    padding: 12px; /*Añade 12px de relleno interno*/
}

/*Estilo para los enlaces (a), con transición suave en el cambio de color*/
a {
    color: #cf1767; /*Color inicial de los enlaces*/
    transition: all 0.3s ease-in-out;
}

/*Estilo para los enlaces cuando se hace hover, se enfoca o se activa*/
a:hover, a:focus, a:active {
    color: white; /*Cambia a blanco al interactuar*/
}

/*Elimina el contorno predeterminado cuando se activa o se pasa por encima del enlace*/
a:hover, a:active {
    outline: 0;
}

/*Estilo para todos los niveles de encabezados (h1 a h6) y sus respectivas clases (.h1 a .h6)*/
h1, h2, h3, h4, h5, h6 .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Frank Ruh1 libre", serif; /*Fuente personalizada para los encabezados*/
    font-weight: 500;
    font-style: normal;
    color: #fff; /* Color blanco */
}

/*Margen superior e inferior para los encabezados*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin-top: 6rem; /*Margen superior de 6rem*/
    margin-bottom: 16rem; /*Margen inferior de 16rem*/
}

/*Ajusta los márgenes para h1 a h4 en pantallas menores a 600px*/
@media screen and (max-width: 600px) {
    h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
        margin-top: 6rem;
    }
}

/*Margen superior e inferior para h5 y h6*/
h5, .h5, h6, .h6 {
    margin-top: 4.8rem;
    margin-bottom: 1.2rem;
}

/*Estilo para el encabezado (header)*/
.s-header {
    position: absolute;
    top: 2rem; /*2rem desde la parte superior*/
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid white;
    height: 78px;
    text-align: center;
}

/*Estilo sticky (fijo) para el encabezado al hacer scroll*/
.s-header.sticky {
    background: #050505; /*Fondo negro*/
    position: fixed;
    top: 0;
    left: 0;
}

/*Estilo para el logo dentro del encabezado*/
.header-logo {
    display: inline-block;
    margin: 6px 0;
    position: absolute;
    top: 50%;
    left: 40px;
}

/*Enlaces del logo*/
.header-logo a {
    display: block;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    transition: all 0.3s;
}

/*Tamaño del logo*/
.header-logo img {
    width: 132px;
    height: 36px;
    margin: 0;
}

/*Estilo para la navegación del encabezado*/
.header-nav-wrap {
    display: inline-block;
}

/*Estilo para las listas de navegación*/
.header-nav-wrap ul {
    display: inline-block;
    list-style: none; /*Sin viñetas*/
    margin-left: 0;
    margin-top: 18px;
}

/*Estilo para los elementos de la lista*/
.header-nav-wrap li {
    display: inline-block;
    padding: 0;
}

/*Enlaces dentro de los elementos de lista*/
.header-nav-wrap li a {
    display: block;
    line-height: calc(78px-(18px*2)); /*Altura ajustada para centrar el texto verticalmente*/
}

/*Estilo para la clase de navegación principal*/
.header-main-nav {
    font-family: "Roboto", sans-serif; /*Fuente roboto de Google Fonts*/
    font-size: 13px; /*Tamaño de la fuente */
    text-transform: uppercase; /*Texto en mayúsculas*/
    letter-spacing: 0.3rem; /*Espacio entre letras*/
    color: rgba(255, 255, 255, 0.5); /*Color gris transparente*/
    margin: 0 0 0 4px;
    z-index: 2;
    position: static;
}

/*Margen entre los elementos del menú*/
.header-main-nav li {
    margin: 0 2rem;
}

/*Estilo para los enlaces dentro del menú*/
.header-main-nav a {
    color: rgba(255, 255, 255, 0.5); /*Color gris transparente*/
    position: relative;
}

/*Efecto hover y focus para los enlaces del menú*/
.header-main-nav a:hover, .header-main-nav a:focus, .header-main-nav a:active {
    color: white; /*Color blanco al interactuar*/
}

/*Estilo especial para la sección activa del menú*/
.header-main-nav .current a {
    color: white; /*Color blanco para la sección activa*/
}

/*Estilo para los íconos de redes sociales*/
.header-social {
    font-size: 2rem; /*Tamaño de los íconos*/
    margin: 0;
    position: absolute;
    top: 0;
    right: 40px;
}

/*Margen entre los íconos de redes sociales*/
.header-social li {
    margin-right: 1rem;
}

/*El último ícono no tiene margen derecho*/
.header-social li:last-child {
    margin-right: 0;
}

/*Estilo para los enlaces de redes sociales*/
.header-social li a {
    color: rgb(255, 255, 255, 0.5); /*Color blanco transparente*/
}